<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="main-nav">
      <div class="container">
        <div class="logo">
          <a href="">Microblog</a>
        </div>

        <div class="nav-links">
          <%= link_to 'Home', root_path() %>
          <%= link_to 'About', about_path() %>
          <%= link_to 'Contact', contact_path() %>
          <%= link_to 'Users', users_path() %>
          <%= link_to 'Posts', microposts_path() %>
        </div>
      </div>
    </nav>

    <div class="content">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <footer class="container">
      <hr>
      <small>Microblog<small>
    </footer>
  </body>
</html>
